html {
  font-size: 49.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: rgb(225, 231, 233);
  font-size: 1.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 7rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: coral;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: coral;
  color: black;
}

h1 {
  font-size: 1.7rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.7rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

header a {
  color: whitesmoke;
  padding: 1rem;
}

a.brand {
  color: black;
  font-size: 3.4rem;
  font-weight: 700;
}

a.brand:hover {
  color: rgba(7, 33, 5, 0.296);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

img {
  border-radius: 1rem;
}

img.medium {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.card {
  border: 0.1rem lightgray solid;
  box-shadow: 2rem;
  background-color: azure;
  border-radius: 1rem;
  margin: 1rem;
}

.card_body {
  padding: 1rem;
}

.card_body > * {
  margin-bottom: 0.7rem;
}

.price {
  font-size: 2rem;
  margin: 0.4rem;
}

.ratings span {
  display: flex;
  margin: 0.4rem;
  color: goldenrod;
}
